h1,
p {
  font-family: Lato;
}

:root {
  --primary-color: black;
  --secondary-color: #e3127e;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.section-title {
  padding: 0 1rem;
  margin-block-end: 0px;
}

@media (max-width: 800px) {
  :root {
    font-size: 14px;
  }
}
