.app-header {
  background-color: var(--primary-color, black);
  color: white;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.app-header .app-logo {
  max-width: 5em;
  border-radius: 50%;
}

.app-header .app-title {
  margin: auto;
}
