.app-header {
  background-color: var(--primary-color, black);
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 3px 5px gray;
  position: sticky;
  top: 0px;
}

.app-header .app-logo {
  max-width: 5em;
  border-radius: 50%;
}

.app-header .app-title {
  margin: auto;
}
